/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font: 300 17px/1.4 'Nanum Gothic', Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  color: #545e6f;
  font-size: 16px;
}
h1{
  font-size: 2.5rem;
  margin: 1rem 0;
}

img {
  vertical-align: bottom;
}
img a {
  border: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #9f72e6;
  text-decoration: none;
}
input,
button, select {
  outline: 0;
}
input, select {
  border: none;
  background: #fff;
  font-size: 13px;
  padding: 6px 30px 6px 10px;
  border-radius: 1px;
  box-shadow: 1px 1px 3px 1px #ccc;
  border: 1px solid #eee;
  margin-bottom: 15px;
  margin-right: 15px;
}
button {
  cursor: pointer;
  background: #9f72e6;
  border: 0;
  border-radius: 2px;
  padding: 5px 10px;
  text-align: center;
  color: #fff;
  &:disabled{
  background: #c098ff;
  }
}
p {
  margin: 5px 0;
}

body {
  padding: 50px;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
}
h4 {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

.countComponent{
  margin: 1.5rem 0;
}
